.recommended-playlists {
  margin-top: 10px;
  padding: 20px;
  margin-left: 220px;
  width: 100%;
  max-width:960px;
  position: relative;
}

.recommended-playlists__heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.recommended-playlists__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}