.review-stream {
  display: flex;
  gap: 20px;
}

.review-stream__button {
  padding: 8px 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
}

.review-stream__button--good {
  background-color: rgba(249, 143, 15, 0.13);
  border: 1px solid rgba(58, 32, 0, 0.88);
  outline: none;
}

.review-stream__button--good:hover {
  background-color: rgba(248, 136, 0, 0.3);
}

.review-stream__button--bad {
  background-color: rgba(249, 143, 15, 0.13);
  border: 1px solid rgba(58, 32, 0, 0.88);
  outline: none;
}

.review-stream__button--bad:hover {
  background-color: rgba(248, 136, 0, 0.3);
}